*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Footer{
    display: grid;
    grid-template-columns: 1fr 0.7fr 1.3fr;
    padding: 20px;
    background-color: black;
    color: white;
    width: 100vw;
}

.links{
    margin-left: 20px;
}
.links ul li{
    list-style: none;
}
.links ul li .navlinks{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.links ul li .navlinks:hover{
    color: grey;
    font-weight: bolder;
}

.login{
    /* width: 24vw; */
    display: flex;
    
}
.login input{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: 5px solid white;
}
.login button{
    background-color: red;
    color: white;
    border: none;
    padding: 0px 11px;
    font-size: 1.5rem;
    border-bottom: 5px solid white;
}
.login button:hover{
    background-color: rgb(117, 7, 7);
  
    
}

@media (min-width: 500px) and (max-width : 699px) {
    .Footer{
        grid-template-columns: repeat(2 , 1fr);
       
        }
}
@media (max-width : 499px) {
    .Footer{
        grid-template-columns: repeat(1 , 1fr);
        }
}